/*body {
    text-align: center;
}*/

#content-container {
    margin-left: auto;
    margin-right:auto;
    top:50%;
    width:80%;
}

th {
    text-align: right;
    padding-right: 10px;
}

input {
    margin-bottom: 10px;
}

.errors {
    color:red;
}
