<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bricks</title>
        {% load staticfiles %}

        <link rel="stylesheet" href="{% static 'bricks/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'bricks/bricks.css' %}">

        <script src="{% static 'bricks/node_modules/requirejs/require.js' %}"
                data-main="{% static 'bricks/config.js' %}">
        </script>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a ui-sref="home" class="navbar-brand">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                <div bricks-user class="navbar-text navbar-right"></div>
            </div>
        </div>
        <ui-view></ui-view>
    </body>
</html>